
pyQChem/

data_base/
database/*
dataset/*

\.vscode/
result/*
log/*
pathtable

*.pyc
*.mol
*.npy
*.out
*.inp
*.tar.gz

_Notebooks/
butadien/data/data/*.inp
butadien/data/data/*.out
notebooks/tmp*
notebooks/log/*
*-checkpoint.ipynb

database/
tmp*
build/

butadien/notebooks/log/

butadien/notebooks/log2/

thesis/dataset/**
