
pyQChem/

data_base/
database/*
dataset/*

\.vscode/
result/*
log/*
pathtable


_Notebooks/

# pycache
*.pyc

# jupyter notebook temps
*-checkpoint.ipynb

# dataset files
thesis/dataset/**
butadien/data/data/*.inp
butadien/data/data/*.out
notebooks/tmp*
notebooks/log/*
*.mol
*.npy
*.out
*.inp
*.tar.gz

database/
tmp*
build/

# tensorboard logs
*tfevents*
butadien/notebooks/log/
butadien/notebooks/log2/

