
pyQChem/

data_base/
database/*
dataset/*

\.vscode/
result/*
log/*
pathtable

*.pyc

_Notebooks/
butadien/data/data/*.inp
butadien/data/data/*.out
notebooks/tmp*
notebooks/log/*
*-checkpoint.ipynb

database/

build/

butadien/notebooks/log/

butadien/notebooks/log2/
